.flex-grid article {
  opacity: 0;
}

.flex-grid article.shown {
  opacity: 1;
}

.flex-grid article.animate {
  animation: moveUp 0.65s;
  opacity: 1;
}

@keyframes moveUp {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shake {
  2%,
  18% {
    transform: translate3d(-1px, 0, 0);
  }
  4%,
  16% {
    transform: translate3d(2px, 0, 0);
  }
  6%,
  10%,
  14% {
    transform: translate3d(-4px, 0, 0);
  }
  8%,
  12% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes zoomIn {
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// Hero Animation
@keyframes hueShift {
  0% { filter: hue-rotate(-40deg); }
  30% { filter: hue-rotate(-170deg); }
  50% { filter: hue-rotate(-100deg); }
  70% { filter: hue-rotate(-60deg); }
  100% { filter: hue-rotate(-40deg); }    
}

// Post Sidebar Animation
@keyframes imageHueShift {
  0% { filter: hue-rotate(0deg); }
  30% { filter: hue-rotate(180deg); }
  50% { filter: hue-rotate(360deg); }
  70% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(0deg); }    
}


// Main posts animation
@keyframes glowFlicker {
  0% {
      filter: saturate(0.5) drop-shadow(0 0 4px rgba(64, 224, 208, 0.7));
  }
  50% {
      filter: saturate(2) drop-shadow(0 0 20px rgba(23, 4, 74, 0.9));
  }
  100% {
      filter: saturate(0.5) drop-shadow(0 0 4px rgba(64, 224, 208, 0.7));
  }
}