---
---

$themeColor: #ff0a16;   // Main theme color
$primaryDark: #141414;  // Primary dark color
$accentDark: #ffffff;   // Accent color (light)
$lightGray: #f2f2f2;    // Light gray
$texts: #333333;        // Text color

@import "jekflix";