---
---
$themeColor: #ff0a16;     // Main theme color
$primaryDark: #141414;  // Primary dark color
$accentDark: #ffffff;   // Accent color (light)
$lightGray: #f2f2f2;    // Light gray
$texts: #333333;        // Text color

@import "jekflix";

// Home Page
.hero {
  height: 92vh !important;
  min-height: 60vh !important;
  padding: 3rem 1rem !important;
  animation: hueShift 20s infinite ease-in-out;
}

// Read Icon Button
#icon-read {
  color: #fff !important;
}

// Post Image Filter
// .cover img {
//   filter: saturate(150%) contrast(120%);
// }

// Side-bar for all Posts
.polaroid-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  list-style: none;

  // For smaller screens
  align-items: center;
  justify-content: center;
  width: 100%;
}

.post-sidebar {
  background-color: #000;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 3px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 100%;
  max-width: 400px;
}

.post-sidebar img {
  width: 100%;
  height: auto;
  display: block;
}

.post-sidebar h3 {
  color: #fff !important;
  margin: 10px 0 0 0;
}

.polaroid-container h1 {
  position: relative;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0;
}

.post-sidebar img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.5s ease-in-out;
}

.post-sidebar:hover img {
  filter: saturate(1.8) !important;
}

// Resume Post
.download-link {
    color: #000 !important;         
    text-decoration: none !important;
  }
  
.download-link:hover {
  color: #555 !important;
}

.resume-post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  list-style: none;

  // For smaller screens
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-text p {
  margin: 0;
}

// Author Section
.img-rounded {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  display: block;
}

.about-img {
  width: 300px !important;
  height: 300px !important;
}

// Virella Post
.checklist {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px 0;
}

.checklist span {
  background: #f4f4f4;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.completed { background: #28a745; color: #000; }
.in-progress { background: #ffc107; color: #000; }
.planned { background: #007bff; color: #000; } 


// Roadmap
.roadmap-img {
  width: 100%;
  max-width: 800px;
  display: block;
}

// Reddit Scrapper Post
.grid-container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  background: #f9f9f9;
}

.tech-category {
  background: #2e05a0;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.tech-items {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


// Next Project Link
.next-project-link {
  display: inline-block;
  background: #2e05a0;
  color: white !important;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.next-project-link:hover {
  background: #333;
}
